body{
    background-color: wheat;
}

#btn_Stop{
position: relative;
    background-color: brown;
    width: 100px;
    height:30px;
    left: 170px;
}

#ok{    
        background-color: green;
        width: 50px;
        height:30px;      
    }

#Monbtn{
    background-color: grey;
    width: 100px;
    height: 30px;
    left: 100px;
    position: relative;
}